@model NetSo.Models.Client

@{
    ViewData["Title"] = "Details";
}

@{
    Layout = "_LayoutOther";
}
<h2 class="card-title text-center">Client Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Site.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-round">
        Edit
        <i class="material-icons">mode_edit</i>
        </a>
    <a asp-action="Index" class="btn btn-primary btn-round">
        <i class="material-icons">arrow_back</i>
        Back to List
    </a>
</div>
