@model IEnumerable<NetSo.Models.Client>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_LayoutOther";
}
<h2 class="card-title text-center">Clients</h2>
<a asp-action="Create" class="btn btn-primary btn-round">
    <i class="material-icons">add</i>
    Create New
</a>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Enabled)
                </th>
            <th>
                Site
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site.Name)
            </td>
            <td class="text-right">
                <a class="btn btn-primary btn-fab btn-fab-mini btn-round" asp-action="Edit" asp-route-id="@item.Id">
				<i class="material-icons">mode_edit</i>
			    <div class="ripple-container"></div>
            </a>
            <a class="btn btn-info btn-fab btn-fab-mini btn-round" asp-action="Details" asp-route-id="@item.Id">
				<i class="material-icons">remove_red_eye</i>
			    <div class="ripple-container"></div>
            </a>
            <a class="btn btn-danger btn-fab btn-fab-mini btn-round" asp-action="Delete" asp-route-id="@item.Id">
				<i class="material-icons">delete_forever</i>
			    <div class="ripple-container"></div>
            </a>
            </td>
        </tr>
}
    </tbody>
</table>
