@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous"
    asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
    asp-fallback-test-class="sr-only" 
    asp-fallback-test-property="position" 
    asp-fallback-test-value="absolute">

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body class="signup-page">
	
	<div class="page-header header-filter" filter-color="purple" style="background-image: url('/images/backmain.jpg'); background-size: cover; background-position: top center;">
    	<div class="container">
			<div class="row">
    			<div class="col-md-10 col-md-offset-1">

					<div class="card card-signup">
                        @await Html.PartialAsync("_LoginPartial")
                        <div class="col-sm-hidden col-md-4">
                            <ul class="nav nav-pills nav-pills-icons nav-stacked" role="tablist">
                                <!--
                                    color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                -->
                                @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Administrator"))
                                {
                                    <li class="active">
                                        <a asp-controller="Admin" asp-action="@nameof(AdminController.Index)" class="button button-outline">
                                            <i class="material-icons">build</i>
                                            Admin panel
                                        </a>
                                    </li>
                                }
                                <li class="active">
                                    <a asp-controller="Manage" asp-action="@nameof(ManageController.EditUserInfo)" class="button button-outline">
                                        <i class="material-icons">mode_edit</i>
                                        Edit your profile
                                    </a>
                                </li>
                                <li class="active">
                                    <a asp-controller="Manage" asp-action="@nameof(ManageController.Logins)" class="button button-outline">
                                        <i class="material-icons">verified_user</i>
                                        Manage existing logins
                                    </a>
                                </li>
                                <li class="active">
                                    <a asp-controller="Account" asp-action="@nameof(AccountController.Login)" class="button button-outline">
                                        <i class="material-icons">supervisor_account</i>
                                        Add more login methods
                                    </a>
                                </li>
                                @if (Int32.Parse(Configuration["Cierge:Events:MaxStored"] ?? "50") > 0)
                                {
                                    <li class="active">
                                        <a asp-controller="Manage" asp-action="@nameof(ManageController.History)" class="button button-outline">
                                            <i class="material-icons">history</i>
                                            Account history
                                        </a>
                                    </li>
                                }
                                @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Administrator"))
                                {
                                    <li class="active">
                                        <a asp-controller="Role" asp-action="@nameof(RoleController.Index)" class="button button-outline">
                                            <i class="material-icons">build</i>
                                            Roles
                                        </a>
                                    </li>
                                }
                                @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Administrator"))
                                {
                                    <li class="active">
                                        <a asp-controller="Client" asp-action="@nameof(ClientController.Index)" class="button button-outline">
                                            <i class="material-icons">build</i>
                                            Clients
                                        </a>
                                    </li>
                                }
                                @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Administrator"))
                                {
                                    <li class="active">
                                        <a asp-controller="Site" asp-action="@nameof(SiteController.Index)" class="button button-outline">
                                            <i class="material-icons">build</i>
                                            Sites
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            @RenderBody()
                        </div>
                	</div>

                </div>
            </div>
		</div>

		<footer class="footer">
	        <div class="container" style="padding-top: 20px!important;">
	            <nav class="pull-left">
					<ul>
						<li>
							<a href="#">
								Privacy
							</a>
						</li>
						<li>
							<a href="#">
							   Terms of usage
							</a>
						</li>
						<li>
							<a href="#">
							   About
							</a>
						</li>
						<li>
							<a href="#">
								Support
							</a>
						</li>
					</ul>
	            </nav>
	            <div class="copyright pull-right">
	                &copy; <script>document.write(new Date().getFullYear())</script>, This SSO service is managed and run by NorthEast Technologies Ltd, Company number 11290033
	            </div>
	        </div>
	    </footer>

    </div>

    
</body>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous" 
    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>

    @RenderSection("Scripts", required: false)

</html>
