@model LoginsViewModel
@{
    ViewData["Title"] = "Manage your external logins";
}
@{
    Layout = "_LayoutOther";
}
<h2 class="card-title text-center">My existing logins</h2>

<a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-round">
    <i class="material-icons">vpn_key</i>&nbsp;
    Add more login methods
</a>

<table class="table">
    <thead>
        <tr>
            <th>Provider Name</th>
            <th>Details</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var login in Model.Logins)
{
        <tr>
            <td>@login.ProviderDisplayName</td>
            <td>
                @if (login.LoginProvider == "Email")
                {
                    <span>@login.ProviderKey.ToLower().Substring(0, Math.Min(20, login.ProviderKey.Length))</span>
                }
                else
                {
                    <span>@login.ProviderKey.Substring(0, Math.Min(5, login.ProviderKey.Length))</span>
                }
            </td>
            <td>
                <form asp-action="@nameof(ManageController.RemoveLogin)" method="post">
                    <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                    <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                    @if (Model.Logins.Count == 1 || 
                        (Model.Logins.Where(l => l.LoginProvider == "Email").Count() == 1 && login.LoginProvider == "Email"))
                    {
                        <button type="submit" class="btn btn-danger btn-round" title="Permanently delete your account">
                            <i class="material-icons">delete_forever</i>
                            Delete Account&nbsp;
                            <small>(No undo)</small>
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-danger btn-round" title="Remove this @login.LoginProvider login from your account">
                            <i class="material-icons">delete_forever</i>
                            Remove
                        </button>
                    }
                </form>
            </td>
        </tr>
}

    </tbody>
</table>



